/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 3, 2025, 1:48:43 PM
    Author     : admin
*/
.main{
    -fx-background-color: #121212;
     -fx-spacing: 25;
}

.Test{
     
    -fx-font-size:14;
     -fx-font-weight: bold;
     -fx-fill:#FFFFFF;
     -fx-stroke:gold;
     -fx-stroke-width:3;
     
}
.Button{
    -fx-background-color: #333333;
    -fx-text-fill:white;
    -fx-pref-width:350;
    -fx-font-size: 25;
    -fx-alignment:center;
   
}
